ul.js-movie-list {
  list-style-type: none; /* Видалення стандартного маркера списку */
  padding: 0; /* Видалення відступів всередині списку */
  margin: 20px; /* Додавання зовнішніх відступів для списку */
}

ul.js-movie-list li {
  background-color: #f8f9fa; /* Світлий фон для кожного елемента списку */
  border: 1px solid #dee2e6; /* Тонка рамка навколо кожного елемента */
  padding: 16px; /* Відступи всередині кожного елемента */
  margin-bottom: 10px; /* Відступ між елементами списку */
  display: flex; /* Використання flexbox для вирівнювання контенту */
  align-items: center; /* Вертикальне вирівнювання контенту */
}

ul.js-movie-list li img {
  width: 100px; /* Ширина зображення */
  height: 150px; /* Висота зображення */
  object-fit: cover; /* Забезпечення повного заповнення контейнера без спотворень */
  margin-right: 20px; /* Відступ між зображенням та текстом */
}

ul.js-movie-list h2 {
  margin: 0 0 10px 0; /* Відступи навколо заголовка */
  font-size: 24px; /* Розмір шрифта для заголовка */
}

ul.js-movie-list p {
  margin: 5px 0; /* Відступи для параграфів */
  color: #666; /* Колір тексту параграфів */
}

.load-more-hidden {
  display: none;
}

.load-more {
  padding: 10px 20px; /* Зручний розмір для натискання */
  background-color: #007bff; /* Яскравий синій колір, який привертає увагу */
  color: white; /* Білий текст для контрасту */
  border: none; /* Відсутність рамки для сучасного вигляду */
  border-radius: 5px; /* Закруглені кути для м'якшого вигляду */
  font-size: 16px; /* Читабельний розмір шрифту */
  cursor: pointer; /* Вказівник курсору показує, що кнопка є інтерактивною */
  transition: background-color 0.3s; /* Плавна анімація фону при наведенні */
}

.load-more:hover {
  background-color: #0056b3; /* Темніший синій колір при наведенні для ефекту інтерактивності */
}

.load-more:active {
  background-color: #004085; /* Ще темніший синій при активації для відчуття натискання */
  transform: scale(0.98); /* Невелике зменшення для імітації натискання */
}

.load-more:focus {
  outline: none; /* Видалення стандартного фокусу, щоб покращити візуальний вигляд */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Додавання сяючої тіні для візуальної індикації фокусу */
}
